@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.font-opensans{
	font-family: 'Open Sans', sans-serif;
}

.font-montserrat{
	font-family: 'Montserrat', sans-serif;	
}

.jumbotron{
	background-image: url(foto/overlay2.png);
	background-size: cover;
	height: 800px;
	text-align: center;
	margin-top: -120px;
	margin-bottom: 0;
	border-radius: 0;
}

.jumbotron .display-4{
	margin-top: 200px;
	color: white;
}

.jumbotron p{
	color: white;
}

.jumbotron hr{
	border-color: #8ac6d1;
	width: 80px;
	border-width: 5px;
}

/*.jumbotron .btn{
	background-color: #a1dd70;
	border-radius: 15px;
	border: none;
	padding-right: 25px;
	padding-left: 25px;
}
*/